// colors
$primary: #3F7B95;
$off-white: #f6f6f6;
$black: #24292c;
$dark-gray: #4b565a;
$light-gray: #b5c5cb;

// Sizing
$beer-image-height: 15rem;
$beer-image-width: 15rem;
$beer-image-height-mobile: 15rem;
$beer-image-width-mobile: 15rem;

$btn-height: 5rem;
$btn-width: 20rem;

$content-height: 60%;
$content-width: 60%;

// Margin
$margin-small: 1rem;
$margin-medium: 2.3rem;
$margin-large: 3rem;

// Padding
$padding-btn-bottom: .6rem;
$padding-btn-top: 1.4rem;
$padding-small: 1rem;

// Mobile Break
$mobile-break: 1200px;

// Timing
$time-medium: 200ms;